openapi: 3.1.0
info:
  title: FinSEO API
  description: Access AI visibility tracking data for your brand across ChatGPT, Claude, Perplexity and other AI platforms.
  version: 1.0.0
  contact:
    name: FinSEO Support
    url: https://finseo.ai
servers:
  - url: https://api.finseo.ai/v1
    description: Production
  - url: https://app.finseo.ai/api/v1
    description: Dashboard host — same API, kept for backwards compatibility

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "API key starting with sk_live_ or sk_test_"

  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
    timeframe:
      name: timeframe
      in: query
      schema:
        type: string
        default: "30d"
        description: "Relative time window ending yesterday (e.g. 7d, 30d, 90d). Ignored when startDate/endDate are set."
    startDate:
      name: startDate
      in: query
      schema:
        type: string
        format: date
        description: "Custom range start (YYYY-MM-DD). Must be combined with endDate; overrides the relative timeframe."
    endDate:
      name: endDate
      in: query
      schema:
        type: string
        format: date
        description: "Custom range end (YYYY-MM-DD). Must be combined with startDate; overrides the relative timeframe."
    model:
      name: model
      in: query
      schema:
        type: string
        description: "AI model filter (chatgpt, claude, perplexity)"
    language:
      name: language
      in: query
      schema:
        type: string
        description: "Language code filter (en, de, fr)"
    tags:
      name: tags
      in: query
      schema:
        type: string
        description: "Comma-separated tags or JSON array"
    page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
        minimum: 1
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 50
        minimum: 1
        maximum: 500

paths:
  /me:
    get:
      operationId: getCurrentAccount
      summary: Get the account behind the API key
      description: Returns the authenticated account plus the key's scopes. Answers independently of whether the account owns any projects, which makes it the right endpoint for verifying a key and labelling a connection.
      tags: [Account]
      responses:
        "200":
          description: Account identity
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id: { type: string }
                      email: { type: string, format: email }
                      accountName: { type: string }
                      tier: { type: string }
                      projectCount: { type: integer }
                      scopes:
                        type: array
                        items: { type: string, enum: [read, write, export] }
                      environment: { type: string, enum: [live, test] }
        "401":
          description: Missing, invalid or revoked API key

  /projects:
    get:
      operationId: listProjects
      summary: List projects
      tags: [Projects]
      responses:
        "200":
          description: List of projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        name: { type: string }
                        domain: { type: string }
                        websiteUrl: { type: string }
                        isDefault: { type: boolean }
    post:
      operationId: createProject
      summary: Create a project
      tags: [Projects]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                websiteUrl: { type: string, format: uri }
                domain: { type: string }
                description: { type: string }
      responses:
        "200":
          description: Created project

  /projects/{projectId}:
    get:
      operationId: getProject
      summary: Get project details
      tags: [Projects]
      parameters:
        - $ref: "#/components/parameters/projectId"
      responses:
        "200":
          description: Project details
    put:
      operationId: updateProject
      summary: Update a project
      tags: [Projects]
      parameters:
        - $ref: "#/components/parameters/projectId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                websiteUrl: { type: string }
                domain: { type: string }
                description: { type: string }
      responses:
        "200":
          description: Updated

  /projects/{projectId}/prompts:
    get:
      operationId: listPrompts
      summary: List prompts with metrics
      tags: [Prompts]
      parameters:
        - $ref: "#/components/parameters/projectId"
        - $ref: "#/components/parameters/timeframe"
        - $ref: "#/components/parameters/model"
        - $ref: "#/components/parameters/language"
        - $ref: "#/components/parameters/tags"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
        - name: search
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Paginated prompt list with visibility metrics
    post:
      operationId: addPrompt
      summary: Add a prompt to track
      tags: [Prompts]
      parameters:
        - $ref: "#/components/parameters/projectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt]
              properties:
                prompt: { type: string, description: "The AI prompt to track" }
                models: { type: array, items: { type: string }, default: ["chatgpt", "claude", "perplexity"] }
                language: { type: string, default: "en" }
                tags: { type: array, items: { type: string } }
      responses:
        "200":
          description: Created prompt

  /projects/{projectId}/metrics:
    get:
      operationId: getDailyMetrics
      summary: Get daily visibility KPIs
      description: Returns current vs previous period metrics including visibility rate, mentions, position, and sentiment. Accepts either a relative timeframe or an absolute startDate/endDate range; the comparison period is always the same number of days immediately before the current period.
      tags: [Metrics]
      parameters:
        - $ref: "#/components/parameters/projectId"
        - $ref: "#/components/parameters/timeframe"
        - $ref: "#/components/parameters/startDate"
        - $ref: "#/components/parameters/endDate"
        - $ref: "#/components/parameters/model"
        - $ref: "#/components/parameters/language"
        - $ref: "#/components/parameters/tags"
      responses:
        "200":
          description: Current and previous period metrics with changes

  /projects/{projectId}/metrics/timeseries:
    get:
      operationId: getTimeseries
      summary: Get time series chart data
      description: Returns daily data points for visibility, mentions, position, and sentiment.
      tags: [Metrics]
      parameters:
        - $ref: "#/components/parameters/projectId"
        - $ref: "#/components/parameters/timeframe"
        - $ref: "#/components/parameters/model"
        - $ref: "#/components/parameters/language"
        - $ref: "#/components/parameters/tags"
        - $ref: "#/components/parameters/startDate"
        - $ref: "#/components/parameters/endDate"
      responses:
        "200":
          description: Array of daily data points

  /projects/{projectId}/competitors:
    get:
      operationId: getCompetitorRanking
      summary: Get competitor visibility ranking
      tags: [Competitors]
      parameters:
        - $ref: "#/components/parameters/projectId"
        - $ref: "#/components/parameters/timeframe"
        - $ref: "#/components/parameters/startDate"
        - $ref: "#/components/parameters/endDate"
        - $ref: "#/components/parameters/model"
        - $ref: "#/components/parameters/language"
        - $ref: "#/components/parameters/tags"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
        - name: search
          in: query
          schema: { type: string }
        - name: sortBy
          in: query
          schema: { type: string, enum: [visibility, mentions, position, sentiment, name], default: mentions }
      responses:
        "200":
          description: Paginated competitor ranking

  /projects/{projectId}/sources:
    get:
      operationId: getSourceRanking
      summary: Get citation source ranking
      tags: [Sources]
      parameters:
        - $ref: "#/components/parameters/projectId"
        - $ref: "#/components/parameters/timeframe"
        - $ref: "#/components/parameters/startDate"
        - $ref: "#/components/parameters/endDate"
        - $ref: "#/components/parameters/model"
        - $ref: "#/components/parameters/language"
        - $ref: "#/components/parameters/tags"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
        - name: search
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Paginated source ranking

  /projects/{projectId}/tags:
    get:
      operationId: listTags
      summary: List tags
      tags: [Tags]
      parameters:
        - $ref: "#/components/parameters/projectId"
      responses:
        "200":
          description: Tag list with counts
    post:
      operationId: createTag
      summary: Create and apply a tag
      tags: [Tags]
      parameters:
        - $ref: "#/components/parameters/projectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, promptIds]
              properties:
                name: { type: string }
                promptIds: { type: array, items: { type: string } }
      responses:
        "200":
          description: Tag created and applied

  /projects/{projectId}/export:
    get:
      operationId: exportData
      summary: Bulk export tracking data
      description: Export all prompts with full results data. Requires 'export' scope.
      tags: [Export]
      parameters:
        - $ref: "#/components/parameters/projectId"
        - $ref: "#/components/parameters/timeframe"
        - $ref: "#/components/parameters/startDate"
        - $ref: "#/components/parameters/endDate"
      responses:
        "200":
          description: Full export with prompts and results

  /projects/{projectId}/attribution:
    get:
      operationId: listAttribution
      summary: List attribution responses
      description: Get paginated attribution survey responses with filters.
      tags: [Attribution]
      parameters:
        - $ref: "#/components/parameters/projectId"
        - name: days
          in: query
          schema: { type: integer, default: 30 }
          description: "Number of days to look back"
        - name: category
          in: query
          schema: { type: string }
          description: "Filter by channel category (ai_search, organic_search, paid, social, referral, content, direct, other)"
        - name: source
          in: query
          schema: { type: string }
          description: "Filter by source (widget, hubspot, typeform, api, etc.)"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Paginated attribution responses
    post:
      operationId: createAttribution
      summary: Submit attribution response
      description: Record a self-reported attribution response. Requires write scope.
      tags: [Attribution]
      parameters:
        - $ref: "#/components/parameters/projectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [channelId]
              properties:
                channelId:
                  type: string
                  description: "e.g. ai_search, ai_chatgpt, google_search, social_media, paid_ads, referral, content, other"
                respondentEmail: { type: string }
                respondentName: { type: string }
                respondentExternalId: { type: string }
                dealValue: { type: number }
                dealCurrency: { type: string, default: "USD" }
                formId: { type: string }
                pageUrl: { type: string }
                metadata: { type: object }
      responses:
        "200":
          description: Attribution response created

  /projects/{projectId}/attribution/summary:
    get:
      operationId: getAttributionSummary
      summary: Attribution summary
      description: Aggregated data by channel, category, and source. Shows AI search percentage and total revenue.
      tags: [Attribution]
      parameters:
        - $ref: "#/components/parameters/projectId"
        - name: days
          in: query
          schema: { type: integer, default: 30 }
      responses:
        "200":
          description: Attribution summary with channel breakdown

  /projects/{projectId}/attribution/bulk:
    post:
      operationId: bulkAttribution
      summary: Bulk import attribution responses
      description: Import up to 1000 attribution responses at once. Requires write scope.
      tags: [Attribution]
      parameters:
        - $ref: "#/components/parameters/projectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [responses]
              properties:
                responses:
                  type: array
                  maxItems: 1000
                  items:
                    type: object
                    required: [channelId]
                    properties:
                      channelId: { type: string }
                      respondentEmail: { type: string }
                      respondentName: { type: string }
                      dealValue: { type: number }
                      dealCurrency: { type: string }
                      formId: { type: string }
                      pageUrl: { type: string }
      responses:
        "200":
          description: Bulk import result

  /projects/{projectId}/tasks:
    get:
      operationId: listTasks
      summary: List optimization tasks
      description: AI-generated optimization tasks for the project, sorted by priority score (impact weighted against effort). Read-only; status changes happen in the dashboard.
      tags: [Tasks]
      parameters:
        - $ref: "#/components/parameters/projectId"
        - name: status
          in: query
          schema: { type: string, default: open }
          description: "Comma-separated statuses: open, in_progress, done, dismissed — or all"
        - name: category
          in: query
          schema:
            type: string
            enum: [technical, visibility, content, offsite, reputation, competitor, setup]
        - name: minImpact
          in: query
          schema: { type: integer, minimum: 1, maximum: 10 }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 200 }
      responses:
        "200":
          description: Task list with per-status counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      counts:
                        type: object
                        properties:
                          open: { type: integer }
                          in_progress: { type: integer }
                          done: { type: integer }
                          dismissed: { type: integer }
                      total: { type: integer }
                      page: { type: integer }
                      limit: { type: integer }
                      hasMore: { type: boolean }
                      tasks:
                        type: array
                        items:
                          type: object
                          properties:
                            id: { type: string, format: uuid }
                            title: { type: string }
                            category: { type: string }
                            status: { type: string }
                            impact: { type: integer }
                            effort: { type: integer }
                            priorityScore: { type: integer }
                            autoResolved: { type: boolean }
                            assigneeEmail: { type: string, nullable: true }
                            createdAt: { type: string, format: date-time }
                            updatedAt: { type: string, format: date-time }

  /projects/{projectId}/tasks/{taskId}:
    get:
      operationId: getTask
      summary: Get one task in full
      description: Full task detail including description, step-by-step plan, the evidence that triggered it, and the structured content plan for content tasks.
      tags: [Tasks]
      parameters:
        - $ref: "#/components/parameters/projectId"
        - name: taskId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Full task detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id: { type: string, format: uuid }
                      title: { type: string }
                      category: { type: string }
                      status: { type: string }
                      impact: { type: integer }
                      effort: { type: integer }
                      priorityScore: { type: integer }
                      description: { type: string }
                      steps:
                        type: array
                        items: { type: string }
                      evidence:
                        type: object
                        properties:
                          summary: { type: string }
                          metrics:
                            type: array
                            items:
                              type: object
                              properties:
                                label: { type: string }
                                value: { type: string }
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                label: { type: string }
                                detail: { type: string }
                          deepLink: { type: string }
                      contentPlan:
                        type: object
                        nullable: true
                      autoResolvable: { type: boolean }
                      autoResolved: { type: boolean }
                      resolvedAt: { type: string, format: date-time, nullable: true }
                      lastSeenAt: { type: string, format: date-time }
                      createdAt: { type: string, format: date-time }
                      updatedAt: { type: string, format: date-time }
        "404":
          description: Task not found
